<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="regression" parallel="classes" verbose="1">
    <test name="Entities">
        <classes>
            <class name="TestCompany"/>
            <class name="TestEmployee"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->